<div *ngIf="isLoading">
  laoding
</div>
<div *ngIf="!isLoading">
  <div *ngFor="let field of formStructure">
    <container-element [ngSwitch]="field.type">
      <chart-type-list [structure]="field" *ngSwitchCase='"select"'></chart-type-list>
      <chart-type-list [structure]="field" *ngSwitchCase='"checkbox_multiple"'></chart-type-list>
      <chart-type-radio [structure]="field" *ngSwitchCase='"radio"'></chart-type-radio>
      <chart-type-text [structure]="field" *ngSwitchCase='"text"'></chart-type-text>
      <chart-type-checkbox [structure]="field" *ngSwitchCase='"checkbox"'></chart-type-checkbox>
      <div *ngSwitchDefault>
        <chart-type-text [structure]="field" ></chart-type-text>
      </div>
    </container-element>
  </div>
</div>

